<h2>Products</h2>

<div *ngFor="let product of products">
  <div *ngIf = "category !== undefined &&
  category.listOfProduct.indexOf(product.id)  !== -1">

  <h3>
    <a [title]="product.name + ' details'"
       [routerLink]="['/products', product.id]"
    >
      {{ product.name }}
    </a>
  </h3>
  <h5>{{ product.rating.toFixed(1) + ' / 5.0' }}</h5>

  <div>
    <img src="{{ product.image_url }}" alt="image_url" style="width:400px"/>
    <p *ngIf="product.description">
      Описание:<br>
      <ng-container *ngFor="let line of product.description.split('\n')">
        {{ line }}<br />
      </ng-container>
    </p>
  </div>

    <app-product-alerts
      [product]="product"
      (notify)="onNotify()">
    </app-product-alerts>
  <button type="button" (click)="share()" style="padding: 0">
    <a
      href="https://telegram.me/share/url?url={{ product.url }}"
      target="_blank"
      style="color: #fff; padding: 8px 16px"
    >Share
    </a>
  </button>

    <button (click)="likeProduct(product)">Like</button>
    <span style="margin-left: 10px">Likes: {{product.likes}}</span>
    <button (click)="deleteProduct(product)">Delete</button>

  </div>
</div>

<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
