<h2>Category</h2>
<div class="container">
  <div id="categoryButton" *ngFor="let category of categories">
    <h5>
      <a [title]="category.name" [routerLink]="['/category', category.id]">
        {{ category.name }}
      </a>
    </h5>
    <img src="{{ category.imageLink }}" alt="photo" style="width:150px"/>

  </div>
</div>

<!--<div *ngFor="let product of filteredProducts" id ="prdiv">-->
<!--  <h3>-->
<!--    <a [title]="product.name + ' details'"-->
<!--       [routerLink]="['/products', product.id]"-->
<!--    >-->
<!--      {{ product.name }}-->
<!--    </a>-->
<!--  </h3>-->
<!--  <h5>{{ product.rating.toFixed(1) + ' / 5.0' }}</h5>-->

<!--  <div>-->
<!--    <img src="{{ product.photo }}" alt="photo" style="width:400px"/>-->
<!--    <p *ngIf="product.description">-->
<!--      Описание:<br>-->
<!--      <ng-container *ngFor="let line of product.description.split('\n')">-->
<!--        {{ line }}<br />-->
<!--      </ng-container>-->
<!--    </p>-->
<!--  </div>-->
<!--  <button type="button" (click)="share()" style="padding: 0">-->
<!--    <a-->
<!--      href="https://telegram.me/share/url?url={{ product.link }}"-->
<!--      target="_blank"-->
<!--      style="color: #fff; padding: 8px 16px"-->
<!--    >Share-->
<!--    </a>-->
<!--  </button>-->
<!--  <app-product-alerts-->
<!--    [product]="product"-->
<!--    (notify)="onNotify()">-->
<!--  </app-product-alerts>-->
<!--</div>-->
